<body>
    <div class="header">
        <p class="big">CCSSS</p>
        <div class="header-content"><%= link_to "ログイン",new_user_session_path %></div>
    </div>
    <div class="title">
        <h1>ようこそ、クリエイトセンターマニュアルアプリβ版へ！</h1>
    </div>
</body>

<style>
    body{
        margin: 0;
        padding: 0;
        height: 1200px;
        background: linear-gradient(rgb(163, 163, 163), rgb(255, 255, 255));
    }
    .header{
        background: white;
        height: 80px;
    }
    .title{
        margin-top: 50px;
        text-align: center;
    }
    .big{
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
        margin-top: 23px;
    }
    .header-content{
        float: right;
        width: 120px;
        height: 80px;
        background: rgb(202, 202, 202);
        margin-right: 20px;
    }
    .header-content>a{
        text-align: center;
        font-size: 22px;
        
    }
</style>