<%= render "/header" %>
<div class="title-box">
    <div class="title-left">
        <%= link_to "新規作成",new_category_path,class: "new-button" %>
    </div>
    <div class="title-right">
        <h1>カテゴリー選択</h1>
    </div>
</div>
<div class="contents-box">
    <% @categories.each do |category| %>
        <div class="content">
            <%= link_to category.name, category_contents_path(category.id),class:"link"%>
        </div>
    <% end %>
</div>
<br>

<style>
    h1{
        text-align:center;
        line-height:200px;
    }
    .contents-box{
        width:100%;
        height:auto;
    }
    .content{
        width:18%;
        float:left;
        margin:1%;
        background:white;
        font-size:30px;
        color:white;
        text-align:center;
        height:150px;
        line-height:150px;
        box-sizing:border-box;
        
    }
    .link{
        text-decoration:none;
        color:black;
        display:inline-block;
        height:150px;
        border:2px gray solid;
        width:100%;
        border-radius:10px;
    }
    .link:hover{
        background:skyblue;
        border-radius:10px;
        border:none;
    }
    .content>p{
        color:white;
    }
    .button{
        width:18%;
        margin:1%;
        background:red;
        font-size:30px;
        color:white;
        border-radius:10px;
        padding:20px;
    }
    .title-box{
        height:200px;
    }
    .title-left{
        width:5%;
        height: auto;
        float:left;
    }
    .new-button{
        width:50%;
        height:100px;
        background:red;
        font-size:25px;
        color:white;
        padding:0 1%;
         -ms-writing-mode: tb-rl;
	    writing-mode: vertical-rl;
	    text-decoration: none;
    }
</style>