<!DOCTYPE html>
<html>
  <head>
    <title>CCApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <style>
    body{
      margin:0;
      padding:0;
      display:inline-block;
      width:100%;
    }
  </style>
</html>
